html,
body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ''; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a:focus {
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

* {
  box-sizing: border-box; }

.white {
  color: #fff; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.s:before {
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.s-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.s-2x {
  font-size: 2em; }

.s-3x {
  font-size: 3em; }

.s-4x {
  font-size: 4em; }

.s-5x {
  font-size: 5em; }

.s-fw {
  width: 1.2857142857142858em;
  text-align: center; }

.s-arrow-up:before {
  content: '\EA01'; }

.s-close:before {
  content: '\EA02'; }

.s-logo:before {
  content: '\EA03'; }

.s-magnify:before {
  content: '\EA04'; }

.s-menu:before {
  content: '\EA05'; }

.s-play:before {
  content: '\EA06'; }

.s-prev:before {
  content: '\EA07'; }

.container {
  max-width: 1006px;
  padding: 0 22px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      max-width: 768px;
      padding: 0 22px; } }
  @media (max-width: 767px) {
    .container {
      min-width: 320px;
      padding: 0 20px; } }

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.row:before,
.row:after {
  content: '';
  display: table;
  clear: both; }

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .row {
      margin: 0 -5px; } }
  @media (max-width: 767px) {
    .row {
      margin: 0; } }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 15px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    [class*='col-'] {
      padding: 0 5px; } }
  @media (max-width: 767px) {
    [class*='col-'] {
      padding: 0; } }

@media (min-width: 1025px) {
  .col-1 {
    width: 8.33333%; }
  .offset-1 {
    margin-left: 8.33333%; } }

@media (min-width: 1025px) {
  .col-2 {
    width: 16.66667%; }
  .offset-2 {
    margin-left: 16.66667%; } }

@media (min-width: 1025px) {
  .col-3 {
    width: 25%; }
  .offset-3 {
    margin-left: 25%; } }

@media (min-width: 1025px) {
  .col-4 {
    width: 33.33333%; }
  .offset-4 {
    margin-left: 33.33333%; } }

@media (min-width: 1025px) {
  .col-5 {
    width: 41.66667%; }
  .offset-5 {
    margin-left: 41.66667%; } }

@media (min-width: 1025px) {
  .col-6 {
    width: 50%; }
  .offset-6 {
    margin-left: 50%; } }

@media (min-width: 1025px) {
  .col-7 {
    width: 58.33333%; }
  .offset-7 {
    margin-left: 58.33333%; } }

@media (min-width: 1025px) {
  .col-8 {
    width: 66.66667%; }
  .offset-8 {
    margin-left: 66.66667%; } }

@media (min-width: 1025px) {
  .col-9 {
    width: 75%; }
  .offset-9 {
    margin-left: 75%; } }

@media (min-width: 1025px) {
  .col-10 {
    width: 83.33333%; }
  .offset-10 {
    margin-left: 83.33333%; } }

@media (min-width: 1025px) {
  .col-11 {
    width: 91.66667%; }
  .offset-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1025px) {
  .col-12 {
    width: 100%; }
  .offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-1-t {
    width: 16.66667%; }
  .offset-1-t {
    margin-left: 16.66667%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-2-t {
    width: 33.33333%; }
  .offset-2-t {
    margin-left: 33.33333%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-3-t {
    width: 50%; }
  .offset-3-t {
    margin-left: 50%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-4-t {
    width: 66.66667%; }
  .offset-4-t {
    margin-left: 66.66667%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-5-t {
    width: 83.33333%; }
  .offset-5-t {
    margin-left: 83.33333%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-6-t {
    width: 100%; }
  .offset-6-t {
    margin-left: 100%; } }

@media (max-width: 320px) {
  .col-1-m {
    width: 100%; } }
