@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler-ExtraBold.eot");
  src: url("../fonts/Butler-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler-ExtraBold.woff2") format("woff2"), url("../fonts/Butler-ExtraBold.woff") format("woff"), url("../fonts/Butler-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Butler Stencil Extra Bold';
  src: url("../fonts/ButlerStencil-ExtraBold.eot");
  src: url("../fonts/ButlerStencil-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerStencil-ExtraBold.woff2") format("woff2"), url("../fonts/ButlerStencil-ExtraBold.woff") format("woff"), url("../fonts/ButlerStencil-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Butler Stencil';
  src: url("../fonts/ButlerStencil-UltraLight.eot");
  src: url("../fonts/ButlerStencil-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerStencil-UltraLight.woff2") format("woff2"), url("../fonts/ButlerStencil-UltraLight.woff") format("woff"), url("../fonts/ButlerStencil-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler-Light.eot");
  src: url("../fonts/Butler-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler-Light.woff2") format("woff2"), url("../fonts/Butler-Light.woff") format("woff"), url("../fonts/Butler-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler-UltraLight.eot");
  src: url("../fonts/Butler-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler-UltraLight.woff2") format("woff2"), url("../fonts/Butler-UltraLight.woff") format("woff"), url("../fonts/Butler-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler-Black.eot");
  src: url("../fonts/Butler-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler-Black.woff2") format("woff2"), url("../fonts/Butler-Black.woff") format("woff"), url("../fonts/Butler-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler-Medium.eot");
  src: url("../fonts/Butler-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler-Medium.woff2") format("woff2"), url("../fonts/Butler-Medium.woff") format("woff"), url("../fonts/utler-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Butler Stencil';
  src: url("../fonts/ButlerStencil-Light.eot");
  src: url("../fonts/ButlerStencil-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerStencil-Light.woff2") format("woff2"), url("../fonts/ButlerStencil-Light.woff") format("woff"), url("../fonts/ButlerStencil-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Butler Stencil';
  src: url("../fonts/ButlerStencil.eot");
  src: url("../fonts/ButlerStencil.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerStencil.woff2") format("woff2"), url("../fonts/ButlerStencil.woff") format("woff"), url("../fonts/ButlerStencil.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Butler Stencil';
  src: url("../fonts/ButlerStencil-Black.eot");
  src: url("../fonts/ButlerStencil-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerStencil-Black.woff2") format("woff2"), url("../fonts/ButlerStencil-Black.woff") format("woff"), url("../fonts/ButlerStencil-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler.eot");
  src: url("../fonts/Butler.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler.woff2") format("woff2"), url("../fonts/Butler.woff") format("woff"), url("../fonts/Butler.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Butler Stencil';
  src: url("../fonts/ButlerStencil-Medium.eot");
  src: url("../fonts/ButlerStencil-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerStencil-Medium.woff2") format("woff2"), url("../fonts/ButlerStencil-Medium.woff") format("woff"), url("../fonts/ButlerStencil-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Butler bold';
  src: url("../fonts/Butler-Bold.eot");
  src: url("../fonts/Butler-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler-Bold.woff2") format("woff2"), url("../fonts/Butler-Bold.woff") format("woff"), url("../fonts/Butler-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Butler Stencil';
  src: url("../fonts/ButlerStencil-Bold.eot");
  src: url("../fonts/ButlerStencil-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerStencil-Bold.woff2") format("woff2"), url("../fonts/ButlerStencil-Bold.woff") format("woff"), url("../fonts/utlerStencil-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-Semibold.eot");
  src: url("MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Semibold.woff2") format("woff2"), url("MyriadPro-Semibold.woff") format("woff"), url("MyriadPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-SemiboldIt.eot");
  src: url("MyriadPro-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("MyriadPro-SemiboldIt.woff2") format("woff2"), url("MyriadPro-SemiboldIt.woff") format("woff"), url("MyriadPro-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-BoldIt.eot");
  src: url("MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("MyriadPro-BoldIt.woff2") format("woff2"), url("MyriadPro-BoldIt.woff") format("woff"), url("MyriadPro-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-Cond.eot");
  src: url("MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Cond.woff2") format("woff2"), url("MyriadPro-Cond.woff") format("woff"), url("MyriadPro-Cond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro normal';
  src: url("MyriadPro-Regular.eot");
  src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff2") format("woff2"), url("MyriadPro-Regular.woff") format("woff"), url("MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-Bold.eot");
  src: url("MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Bold.woff2") format("woff2"), url("MyriadPro-Bold.woff") format("woff"), url("MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-CondIt.eot");
  src: url("MyriadPro-CondIt.eot?#iefix") format("embedded-opentype"), url("MyriadPro-CondIt.woff2") format("woff2"), url("MyriadPro-CondIt.woff") format("woff"), url("MyriadPro-CondIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-BoldCond.eot");
  src: url("MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("MyriadPro-BoldCond.woff2") format("woff2"), url("MyriadPro-BoldCond.woff") format("woff"), url("MyriadPro-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Light.woff2") format("woff2"), url("MyriadPro-Light.woff") format("woff"), url("MyriadPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-BoldCondIt.eot");
  src: url("MyriadPro-BoldCondIt.eot?#iefix") format("embedded-opentype"), url("MyriadPro-BoldCondIt.woff2") format("woff2"), url("MyriadPro-BoldCondIt.woff") format("woff"), url("MyriadPro-BoldCondIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

html,
body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ''; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a:focus {
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

* {
  box-sizing: border-box; }

.white {
  color: #fff; }

.blue {
  color: #304061; }

.brown {
  color: #a9836b; }

.light-brown {
  color: #ebe0d4; }

.gold {
  color: #c4ad6c; }

.light-grey {
  color: #9d9a97; }

.black {
  color: #333; }

.light-blue {
  color: #7583a0; }

.orange {
  color: #d47517; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.s:before {
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.s-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.s-2x {
  font-size: 2em; }

.s-3x {
  font-size: 3em; }

.s-4x {
  font-size: 4em; }

.s-5x {
  font-size: 5em; }

.s-fw {
  width: 1.2857142857142858em;
  text-align: center; }

.s-close:before {
  content: '\EA01'; }

.s-dwon-arrow:before {
  content: '\EA02'; }

.s-empty-star:before {
  content: '\EA03'; }

.s-envelope:before {
  content: '\EA04'; }

.s-full-star:before {
  content: '\EA05'; }

.s-hamburger:before {
  content: '\EA06'; }

.s-left-arrow:before {
  content: '\EA07'; }

.s-play-button:before {
  content: '\EA08'; }

.s-right-arrow-long:before {
  content: '\EA09'; }

.s-right-arrow:before {
  content: '\EA0A'; }

.s-search:before {
  content: '\EA0B'; }

.s-shopping-cart:before {
  content: '\EA0C'; }

.s-timeline-left:before {
  content: '\EA0D'; }

.s-timeline-right:before {
  content: '\EA0E'; }

.s-up-arrow:before {
  content: '\EA0F'; }

.s-user:before {
  content: '\EA10'; }

.wrapper {
  max-width: 1920px;
  padding: 0 240px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
      max-width: 768px;
      padding: 0 22px; } }
  @media (max-width: 767px) {
    .wrapper {
      min-width: 320px;
      padding: 0 20px; } }

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.row:before,
.row:after {
  content: '';
  display: table;
  clear: both; }

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .row {
      margin: 0 -5px; } }
  @media (max-width: 767px) {
    .row {
      margin: 0; } }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 15px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    [class*='col-'] {
      padding: 0 5px; } }
  @media (max-width: 767px) {
    [class*='col-'] {
      padding: 0; } }

@media (min-width: 1025px) {
  .col-1 {
    width: 8.33333%; }
  .offset-1 {
    margin-left: 8.33333%; } }

@media (min-width: 1025px) {
  .col-2 {
    width: 16.66667%; }
  .offset-2 {
    margin-left: 16.66667%; } }

@media (min-width: 1025px) {
  .col-3 {
    width: 25%; }
  .offset-3 {
    margin-left: 25%; } }

@media (min-width: 1025px) {
  .col-4 {
    width: 33.33333%; }
  .offset-4 {
    margin-left: 33.33333%; } }

@media (min-width: 1025px) {
  .col-5 {
    width: 41.66667%; }
  .offset-5 {
    margin-left: 41.66667%; } }

@media (min-width: 1025px) {
  .col-6 {
    width: 50%; }
  .offset-6 {
    margin-left: 50%; } }

@media (min-width: 1025px) {
  .col-7 {
    width: 58.33333%; }
  .offset-7 {
    margin-left: 58.33333%; } }

@media (min-width: 1025px) {
  .col-8 {
    width: 66.66667%; }
  .offset-8 {
    margin-left: 66.66667%; } }

@media (min-width: 1025px) {
  .col-9 {
    width: 75%; }
  .offset-9 {
    margin-left: 75%; } }

@media (min-width: 1025px) {
  .col-10 {
    width: 83.33333%; }
  .offset-10 {
    margin-left: 83.33333%; } }

@media (min-width: 1025px) {
  .col-11 {
    width: 91.66667%; }
  .offset-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1025px) {
  .col-12 {
    width: 100%; }
  .offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-1-t {
    width: 16.66667%; }
  .offset-1-t {
    margin-left: 16.66667%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-2-t {
    width: 33.33333%; }
  .offset-2-t {
    margin-left: 33.33333%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-3-t {
    width: 50%; }
  .offset-3-t {
    margin-left: 50%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-4-t {
    width: 66.66667%; }
  .offset-4-t {
    margin-left: 66.66667%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-5-t {
    width: 83.33333%; }
  .offset-5-t {
    margin-left: 83.33333%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-6-t {
    width: 100%; }
  .offset-6-t {
    margin-left: 100%; } }

@media (max-width: 767px) {
  .col-1-m {
    width: 100%; } }

a {
  text-decoration: none; }

.bolded {
  font-weight: bold; }

.uppercase {
  text-transform: uppercase; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  transition: all 0.15s linear;
  z-index: 2; }
  .header .header__wrapper {
    display: flex;
    padding: 0 211px 0 254px; }
  .header ul {
    display: flex;
    justify-items: center; }
    .header ul li {
      border-right: 1px solid #f5f2ee;
      height: 78px; }
      .header ul li:last-child {
        border-right: none; }
  .header .header__logo {
    padding-top: 20px;
    display: inline-block;
    padding-right: 47px; }
  .header .header__logo__big {
    font-family: "Butler Stencil Extra Bold";
    font-size: 24px;
    letter-spacing: 0.47em;
    padding-bottom: 3px; }
  .header .header__logo__small {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 0.58em; }
  .header .header__browse {
    padding-left: 35px;
    display: flex;
    align-items: center; }
  .header .header__browse__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    padding-right: 33px; }
  .header .header__info {
    padding-left: 35px;
    padding-right: 328px;
    display: flex;
    align-items: center; }
  .header .header__info__text {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.02em; }
    .header .header__info__text .s-dwon-arrow {
      font-size: 8px;
      padding-left: 7px; }
  .header .header__shop__cart {
    display: flex;
    align-items: center;
    padding: 0 29px 0 33px; }
  .header .s-shopping-cart {
    font-size: 18px;
    position: relative;
    padding-right: 43px; }
    .header .s-shopping-cart .item__number {
      background-color: #304061;
      border-radius: 50%;
      padding: 4px 7px;
      font-size: 10px;
      position: absolute;
      left: 10px;
      top: -9px; }
  .header .header__item__total {
    float: right;
    line-height: 18px;
    padding-bottom: 4px; }
  .header .total {
    font-family: 'Lato', sans-serif;
    font-size: 11px; }
  .header .total,
  .header .header__item__total__price {
    font-family: 'Lato', sans-serif; }
  .header .header__item__total__price {
    font-weight: bold;
    font-size: 18px; }
  .header .header__company {
    display: flex;
    align-items: center;
    padding-left: 32px; }
    .header .header__company .s-user {
      font-weight: bold;
      font-size: 25px;
      padding-right: 12px; }
    .header .header__company .s-dwon-arrow {
      font-size: 11px;
      padding-left: 14px; }
    .header .header__company .header__company__name {
      display: flex;
      align-items: center;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 18px; }
  .header .header__logo__hamburger {
    display: none; }
  .header .s-close {
    display: none; }
  @media screen and (max-width: 1694px) {
    .header {
      position: fixed;
      transition: all 0.15s linear; }
      .header .header__wrapper {
        padding: 0 211px 0 254px; }
      .header .header__info {
        padding-right: 35px; }
      .header .header__logo__hamburger {
        display: none; }
      .header .s-close {
        display: none; } }
  @media screen and (max-width: 1394px) {
    .header {
      position: fixed;
      transition: all 0.15s linear; }
      .header .header__wrapper {
        padding: 0 60px; }
      .header .s-close {
        display: block;
        top: 15px;
        font-size: 30px; }
        .header .s-close:hover {
          cursor: pointer; }
      .header .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 78px; }
      .header .header__logo {
        padding-top: 0; }
      .header ul {
        display: none;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 5;
        margin: 0 auto;
        text-align: center;
        padding: 0 250px;
        box-shadow: -1px -1px 7px 0px #f5f2ee; }
        .header ul li {
          border-right: none; }
      .header .header__browse {
        padding-left: 0; }
      .header .header__browse__text {
        padding-right: 0; }
      .header .header__logo__hamburger {
        display: block; }
        .header .header__logo__hamburger:hover {
          cursor: pointer; }
      .header .header__info {
        padding-right: 0;
        padding-left: 0; }
      .header .header__company,
      .header .header__shop__cart,
      .header .header__info,
      .header .header__logo__hamburger,
      .header .header__browse {
        justify-content: center;
        border-bottom: 1px solid #f5f2ee; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .header {
      position: fixed;
      transition: all 0.15s linear; }
      .header .header__wrapper {
        padding: 0 22px; } }
  @media (max-width: 767px) {
    .header {
      position: fixed;
      transition: all 0.15s linear; }
      .header .header__wrapper {
        padding: 0 20px; }
      .header ul {
        padding: 0; }
      .header .header__company {
        padding-left: 0; } }

.nav__show {
  display: block !important; }

.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

.hero {
  height: 815px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid #304061;
  padding-top: 171px; }
  .hero .wrapper {
    padding: 0px 298px;
    position: relative; }
  .hero .hero__content {
    display: flex; }
  .hero .hero__item__title {
    font-size: 82px;
    letter-spacing: 0.01em;
    word-spacing: 0.12em;
    line-height: 1.05;
    font-family: 'Myriad Pro normal';
    padding-bottom: 80px; }
  .hero .hero__item__text {
    font-size: 18px;
    font-family: "Myriad Pro normal";
    letter-spacing: 0.1em;
    padding-bottom: 39px; }
  .hero .hero__view__watch {
    font-size: 16px;
    letter-spacing: 0.275em;
    font-family: "Myriad Pro normal";
    background-color: #fff;
    padding: 26px 42px 26px 47px;
    margin-left: 3px;
    box-shadow: 7px 5px 13px -6px #333; }
  .hero .hero__explore {
    font-size: 22px;
    font-family: "Myriad Pro normal";
    letter-spacing: -0.035em;
    padding-left: 31px; }
  .hero .hero__slider__image {
    padding: 16px 0 0 75px; }
  .hero .slick-prev,
  .hero .slick-next {
    position: absolute;
    background-color: #fff;
    color: #a0765b;
    height: 114px;
    width: 104px;
    outline: none; }
    .hero .slick-prev:hover,
    .hero .slick-next:hover {
      background-color: #ddccb8; }
  .hero .slick-next {
    bottom: -195px;
    left: 112px; }
  .hero .slick-prev {
    bottom: -195px;
    left: 8px; }
  .hero .hero__arrow__image {
    height: 114px;
    width: 133px;
    background-color: #fff;
    position: absolute;
    bottom: -195px;
    left: 514px;
    text-align: center;
    display: none; }
    .hero .hero__arrow__image img {
      height: 100%; }
  @media screen and (max-width: 1405px) {
    .hero {
      background-position-x: -300px; }
      .hero .wrapper {
        padding: 0px 71px 0 298px; } }
  @media screen and (max-width: 1180px) {
    .hero {
      background-position-x: -480px; }
      .hero .wrapper {
        padding: 0px 71px 0 200px; }
      .hero .hero__item__title {
        font-size: 76px; }
      .hero .hero__explore {
        display: block;
        padding-top: 50px; }
      .hero .hero__slider__image {
        padding: 16px 0 0 10px; }
      .hero .hero__arrow__image {
        left: 416px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .hero {
      background-position: center; }
      .hero .wrapper {
        padding: 0 22px; }
      .hero .hero__slider__image {
        padding: 16px 0 0 30px; }
      .hero .hero__arrow__image {
        left: 238px; } }
  @media (max-width: 767px) {
    .hero {
      background-position: center;
      padding-top: 110px;
      text-align: center; }
      .hero .wrapper {
        padding: 0 20px; }
      .hero .hero__content {
        display: block; }
      .hero .hero__slider__image {
        padding: 16px 0 0 30px; }
      .hero .hero__item__title {
        font-size: 36px;
        padding-bottom: 49px; }
      .hero .hero__item__text {
        padding-bottom: 16px;
        font-size: 16px; }
      .hero .hero__view__watch {
        margin-left: 0;
        padding: 14px 20px; }
      .hero .hero__explore {
        padding-left: 0;
        padding-top: 34px; }
      .hero .hero__slider__image {
        padding: 30px 0 0; }
        .hero .hero__slider__image img {
          height: 243px;
          margin: 0 auto; }
      .hero .slick-next {
        left: 80px; }
      .hero .slick-next,
      .hero .slick-prev {
        height: 75px;
        width: 80px;
        bottom: -110px; }
      .hero .hero__arrow__image {
        left: 180px;
        height: 75px;
        bottom: -110px;
        width: 96px; } }

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
  height: 1073px;
  padding-top: 139px; }
  .timeline .timeline__title {
    text-align: center;
    font-size: 60px;
    font-family: "Butler bold";
    word-spacing: 0.09em;
    letter-spacing: 0.02em;
    padding-bottom: 241px; }
  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s; }
    .timeline ol li {
      position: relative;
      display: inline-block;
      list-style-type: none;
      width: 226px;
      height: 10px;
      background: #a0765b; }
      .timeline ol li:first-child {
        width: 265px; }
      .timeline ol li:last-child {
        width: 280px; }
      .timeline ol li:not(:first-child) {
        margin-left: 5px; }
      .timeline ol li:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + -1px);
        bottom: 0;
        width: 7px;
        height: 55px;
        transform: translateY(-50%);
        background: #a0765b; }
      .timeline ol li .timeline__text__box {
        position: absolute;
        left: 45%;
        width: 249px;
        padding: 15px;
        font-size: 14px;
        white-space: normal;
        color: rgba(160, 118, 91, 0.5);
        background: #fff;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-weight: bold;
        line-height: 24px; }
        .timeline ol li .timeline__text__box:hover {
          color: #304061;
          font-size: 18px;
          cursor: default;
          font-weight: normal;
          width: 280px; }
      .timeline ol li .timeline__text__box--first {
        left: 45%; }
      .timeline ol li:nth-child(odd) .timeline__text__box {
        transform: translateY(-127%); }
      .timeline ol li:nth-child(even) .timeline__text__box {
        top: calc(100% + 86px); }
      .timeline ol li:nth-child(even)::after {
        transform: translateY(-9%); }
      .timeline ol li:nth-child(odd)::after {
        transform: translateY(-91%); }
  .timeline .timeline__last {
    width: 1000px !important;
    overflow: hidden; }
  .timeline time {
    display: block;
    font-size: 40px;
    font-weight: bold;
    font-family: "Butler bold";
    padding-bottom: 29px;
    color: #a0765b !important; }
  .timeline .arrows {
    display: flex;
    justify-content: center; }
    .timeline .arrows .arrow__prev {
      margin-right: 20px; }
  .timeline .disabled {
    opacity: .5; }
  .timeline .arrows img {
    width: 45px;
    height: 45px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .timeline {
      height: 972px; }
      .timeline .timeline__title {
        padding-bottom: 130px; } }
  @media (max-width: 767px) {
    .timeline {
      height: 730px;
      padding-top: 58px; }
      .timeline .timeline__title {
        padding-bottom: 60px;
        font-size: 25px; }
      .timeline time {
        font-size: 32px;
        padding-bottom: 16px; }
      .timeline ol li {
        width: 155px; }
        .timeline ol li:first-child {
          width: 170px; }
        .timeline ol li .timeline__text__box--first {
          left: 25%; }
        .timeline ol li .timeline__text__box {
          left: 25%;
          font-size: 12px; }
          .timeline ol li .timeline__text__box:hover {
            font-size: 15px;
            width: 250px; } }

.arrows button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none; }

.timeline__text__box--wider {
  width: 320px !important; }
  @media (max-width: 767px) {
    .timeline__text__box--wider {
      left: 0% !important; } }

.arrow__prev {
  position: absolute;
  left: 70px;
  margin-right: 0; }
  @media (max-width: 767px) {
    .arrow__prev {
      left: 15px; } }

.arrow__next {
  position: absolute;
  right: 70px; }
  @media (max-width: 767px) {
    .arrow__next {
      right: 15px; } }

.arrow__prev,
.arrow__next {
  transform: translateY(-424px); }

.timeline__text {
  display: none;
  cursor: pointer;
  padding-top: 40px; }
  @media (max-width: 767px) {
    .timeline__text {
      padding-top: 10px; } }

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 15px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s; }
  .accordion .row {
    align-items: center; }
  .accordion .listing__star__img__name {
    display: flex;
    align-items: center; }
  .accordion .s-empty-star {
    font-size: 12px;
    padding-right: 40px; }
  .accordion .accordion__brand__name {
    line-height: 22px; }
  .accordion .brand__name {
    font-size: 18px;
    letter-spacing: 0.07em; }
  .accordion .brand__sub__name {
    font-size: 16px; }
  .accordion .accordion__item__tag {
    letter-spacing: -0.02em; }
  .accordion .accordion__item__listing,
  .accordion .brand__sub__name,
  .accordion .brand__name,
  .accordion .item__tag,
  .accordion .accordion__item__wholesale,
  .accordion .item__text,
  .accordion .qty__number {
    font-family: 'Lato', 'Sans serif'; }
  .accordion .item__tag,
  .accordion .accordion__item__wholesale,
  .accordion .accordion__item__listing {
    padding-top: 5px; }
  .accordion .item__tag {
    margin-left: -28px; }
  .accordion .item__listing {
    margin-left: -23px; }
  .accordion .accordion__img {
    height: 63px;
    padding-right: 47px; }
  .accordion .accordion__item__wholesale {
    margin-left: 32px; }
  .accordion .accordion__item__qty {
    margin-left: -44px;
    padding-top: 19px; }
  .accordion .qty__number {
    font-size: 16px;
    margin-bottom: -16px;
    padding-right: 8px; }
  .accordion .qty__arrows {
    display: inline-grid;
    font-size: 7px;
    transform: translateY(-10px); }
  .accordion .s-dwon-arrow {
    display: block; }
  .accordion .s-up-arrow {
    padding-bottom: 5px; }
  .accordion .accordion__item__btn {
    position: relative; }
    .accordion .accordion__item__btn .s-dwon-arrow {
      position: absolute;
      right: 63px;
      top: 24px;
      font-size: 9px; }
    .accordion .accordion__item__btn .item__text {
      font-size: 12px;
      display: block;
      transform: translateY(-1px); }
    .accordion .accordion__item__btn .important__notice {
      background-color: #d47517;
      padding: 2.5px 5.5px;
      border-radius: 50%;
      font-size: 9px;
      margin-right: 6px;
      margin-left: 11px; }
    .accordion .accordion__item__btn .item__btn {
      display: block;
      background-color: #304061;
      font-size: 16px;
      font-family: 'Lato', 'Sans serif';
      width: 136px;
      height: 50px;
      letter-spacing: 0.26em;
      margin-left: -12px;
      margin-top: 5px; }
  .accordion .opened {
    background-color: #f5f2ee; }

.panel {
  padding: 0 18px;
  display: none;
  background-color: #fff;
  overflow: hidden; }

.search__select__box {
  background-color: #f5f2ee; }
  .search__select__box .wrapper__search__select {
    padding: 0px 253px 0px 257px; }
  .search__select__box .search__select__item {
    padding-top: 32px;
    width: 100%;
    position: relative; }
    .search__select__box .search__select__item .search__select__input {
      width: 94%;
      padding: 10px 44px;
      border: 1px solid #ebe0d4;
      color: #a9836b;
      margin-bottom: 20px; }
      .search__select__box .search__select__item .search__select__input::placeholder {
        color: #ebe0d4; }
    .search__select__box .search__select__item .s-search {
      position: absolute;
      left: 19px;
      top: 45px; }

.listing {
  border-bottom: 5px solid #304061;
  padding-bottom: 61px; }

.select__box {
  padding-bottom: 30px; }
  .select__box .listing__select {
    width: 100%;
    border: 1px solid #ebe0d4;
    padding: 11px 8px; }

.footer {
  height: 655px;
  background-color: #f5f2ee;
  position: relative; }
  .footer .row {
    padding: 105px 0 118px; }
  .footer .footer__row__copyright {
    padding: 0; }
  .footer .col-4 {
    padding: 0 20px; }
  .footer .footer__col__list {
    text-align: center;
    border-right: 1px solid #ddccb8; }
    .footer .footer__col__list a {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: -0.025em; }
      .footer .footer__col__list a:hover {
        cursor: pointer;
        color: #a0765b; }
    .footer .footer__col__list li {
      padding-bottom: 1.3em;
      margin-left: -131px; }
    .footer .footer__col__list .uppercase {
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0.19em; }
  .footer .footer__col__title {
    font-size: 28px;
    font-family: "Butler bold";
    text-transform: uppercase;
    letter-spacing: 0.34em;
    text-align: center; }
  .footer .footer__col__list--second {
    border: none; }
  .footer .footer__col__text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.89;
    letter-spacing: -0.02em;
    padding-top: 63px;
    margin-left: -10px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer {
      height: 555px; }
      .footer .row {
        padding: 105px 0 70px; }
      .footer .footer__row__copyright {
        padding: 0; }
      .footer .col-4 {
        padding: 0 15px; }
        .footer .col-4:nth-child(3) {
          border-left: 1px solid #ddccb8; }
      .footer .footer__col__title {
        font-size: 20px;
        text-align: center; }
      .footer .footer__col__text {
        padding-top: 40px;
        margin-left: 0;
        font-size: 15px; }
      .footer .footer__col__list li {
        margin-left: 0;
        padding-bottom: 1em; }
      .footer .footer__col__list .uppercase {
        font-size: 16px; } }
  @media (max-width: 767px) {
    .footer {
      height: 900px; }
      .footer .row {
        padding: 33px 0; }
      .footer .footer__row__copyright {
        padding: 0; }
      .footer .col-4 {
        padding: 0;
        border-bottom: 1px solid #ddccb8;
        margin-bottom: 30px; }
        .footer .col-4:last-child {
          border-bottom: none; }
      .footer .footer__col__title {
        font-size: 24px;
        text-align: center; }
      .footer .footer__col__list {
        border-right: none; }
        .footer .footer__col__list li {
          margin-left: 0;
          padding-bottom: 1em; }
      .footer .footer__col__text {
        margin-left: 0;
        padding-top: 23px;
        line-height: 1.8;
        padding-bottom: 1em; } }

.footer__copyright {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.01em; }
  @media (max-width: 767px) {
    .footer__copyright {
      background-color: #f5f2ee; } }

.footer__copyright__span {
  font-family: 'Open Sans', sans-serif; }

.footer__col__title--shifted {
  margin-left: -115px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer__col__title--shifted {
      margin-left: 0; } }
  @media (max-width: 767px) {
    .footer__col__title--shifted {
      margin-left: 0; } }

.footer__col__link--padded {
  padding-top: 48px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer__col__link--padded {
      padding-top: 34px; } }
  @media (max-width: 767px) {
    .footer__col__link--padded {
      padding-top: 30px; } }

.footer__col__title--second {
  margin-left: 9px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer__col__title--second {
      margin-left: 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer__col__title--second {
      margin-left: 0; } }

.footer__border__box {
  margin: 0 auto;
  top: 0;
  width: 207px;
  height: 10px;
  background-color: #ddccb8; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer__border__box {
      width: 150px; } }

.footer__col__content {
  height: 100%;
  width: 100%;
  text-align: center;
  border-left: 1px solid #ddccb8;
  padding-left: 114px; }
  .footer__col__content .footer__col__title {
    padding-bottom: 116px;
    margin-left: 58px; }
  .footer__col__content .footer__col__icon {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 0.15em;
    display: flex;
    margin: 0 auto;
    width: 390px;
    height: 75px;
    border: 1px solid #9d9a97;
    align-items: center; }
    .footer__col__content .footer__col__icon:hover {
      color: #ddccb8; }
  .footer__col__content .s-envelope {
    padding-right: 95px;
    font-size: 16px;
    padding-left: 20px; }
  .footer__col__content .s-right-arrow {
    padding-left: 95px;
    font-size: 16px;
    color: #c4ad6c; }
  @media screen and (max-width: 1494px) {
    .footer__col__content {
      padding-left: 48px; } }
  @media screen and (max-width: 1264px) {
    .footer__col__content .footer__col__icon {
      width: 292px; }
    .footer__col__content .footer__col__title {
      margin-left: 0; }
    .footer__col__content .s-envelope {
      padding-right: 45px; }
    .footer__col__content .s-right-arrow {
      padding-left: 45px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer__col__content {
      border: none;
      padding-left: 14px; }
      .footer__col__content .footer__col__icon {
        width: 215px;
        height: 55px; }
      .footer__col__content .footer__col__title {
        margin-left: 0;
        padding-bottom: 50px; }
      .footer__col__content .s-envelope {
        padding-right: 5px; }
      .footer__col__content .s-right-arrow {
        padding-left: 20px; } }
  @media (max-width: 767px) {
    .footer__col__content {
      border-left: none;
      padding-left: 0; }
      .footer__col__content .footer__col__title {
        margin-left: 0;
        padding-bottom: 50px; }
      .footer__col__content .footer__col__icon {
        margin: 0 auto; } }
