$white: #fff;
$grey: #f5f2ee;
$blue: #304061;

$footer-link: #a0765b;
$footer-border: #ddccb8;

$header-brown: #a9836b;

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.brown {
  color: $header-brown;
}
