$white: #fff;
$grey: #f5f2ee;
$blue: #304061;
$light-blue: #7583a0;
$gold: #c4ad6c;
$light-grey: #9d9a97;
$black: #333;
$orange: #d47517;

$footer-link: #a0765b;
$footer-border: #ddccb8;

$header-brown: #a9836b;

$light-brown: #ebe0d4;

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.brown {
  color: $header-brown;
}

.light-brown {
  color: $light-brown;
}

.gold {
  color: $gold;
}

.light-grey {
  color: $light-grey;
}

.black {
  color: $black;
}

.light-blue {
  color: $light-blue;
}

.orange {
  color: $orange;
}