.accordion {
	background-color: $white;
	color: #444;
	cursor: pointer;
	padding: 15px 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  transition: 0.4s;

  .row {
    align-items: center;
  }

  .listing__star__img__name {
    display: flex;
    align-items: center;
  }

  .s-empty-star,
  .s-full-star {
    font-size: 12px;
    padding-right: 40px;
  }

  .accordion__brand__name {
    line-height: 22px;
  }

  .brand__name {
    font-size: 18px;
    letter-spacing: 0.07em;
  }

  .brand__sub__name {
    font-size: 16px;
  }

  .accordion__item__tag {

    letter-spacing: -0.02em;
  }

  .accordion__item__listing,
  .brand__sub__name,
  .brand__name,
  .item__tag,
  .accordion__item__wholesale,
  .item__text,
  .qty__number {
    font-family: 'Lato', 'Sans serif';
  }

  .item__tag,
  .accordion__item__wholesale,
  .accordion__item__listing {
    padding-top: 5px;
  }

  .item__tag {
    margin-left: -28px;
  }

  .item__listing {
    margin-left: -23px;
  }

  .accordion__img {
    height: 63px;
    padding-right: 47px;
  }

  .accordion__item__wholesale {
    margin-left: 32px;
  }

  .accordion__item__qty {
    margin-left: -44px;
    padding-top: 19px;
  }

  .qty__number {
    font-size: 16px;
    margin-bottom: -16px;
    padding-right: 8px;
  }

  .qty__arrows {
    display: inline-grid;
    font-size: 7px;
    transform: translateY(-10px);
  }

  .s-dwon-arrow {
    display: block;
  }

  .s-up-arrow {
    padding-bottom: 5px;
  }

  .accordion__item__btn {

    position: relative;
    display: flex;
    align-items: center;

    .s-dwon-arrow {
      font-size: 9px;
      padding-left: 31px;
    }

    .item__text {
      font-size: 12px;
      display: block;
      transform: translateY(-1px);
    }

    .important__notice {
      background-color: $orange;
      padding: 2.5px 5.5px;
      border-radius: 50%;
      font-size: 9px;
      margin-right: 6px;
      margin-left: 11px;
    }

    .item__btn {
      display: block;
      background-color: $blue;
      font-size: 16px;
      font-family: 'Lato', 'Sans serif';
      width: 136px;
      height: 50px;
      letter-spacing: 0.26em;
      margin-left: -12px;
      margin-top: 5px;
    }
  }

  @media screen and (max-width: 1394px) {

    .accordion__item__btn {

      .item__btn {
        font-size: 14px;
        height: 38px;
      }
    }
  }

  @include breakpoint (tablet) {

    .s-empty-star {
      padding-right: 8px;
    }

    .accordion__img {
      height: 38px;
      padding-right: 11px;
    }

    .brand__name {
      font-size: 14px;
    }

    .brand__sub__name {
      font-size: 12px;
    }

    .item__tag {
      margin-left: 0px;
    }

    .item__listing {
      margin-left: 20px;
    }

    .accordion__item__wholesale {
      margin-left: 9px;
    }

    .accordion__item__qty {
      margin-left: -13px;
      padding-top: 16px;
    }

    .accordion__item__btn {
      margin-left: 20px;
      margin-top: 10px;
    }
  }
}

.accordion--opened {
  box-shadow: 0px -17px 36px -24px rgb(157,154,151);
  border-left: 1px solid #ddccb8;
  border-right: 1px solid #ddccb8;
  border-top: 1px solid #ddccb8;
  margin-bottom: -3px;
}

.panel {
	padding: 22px 18px;;
	display: none;
	background-color: $white;
  overflow: hidden;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $footer-border;
  border-left: 1px solid $footer-border;
  border-right: 1px solid $footer-border;

  .panel__icons {
    display: flex;
    align-items: center;
    margin-left: 59px;

    img {
      padding-right: 14px;
      margin-top: 2px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .panel__color {
    display: flex;
    align-items: center;

    p {
      margin-left: -35px;
      margin-top: 4px;
    }

    .circle {
      background-color: $black;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin-left: 5px;
    }
  }

  .panel__item {
    font-size: 14px;
    font-family: 'Lato', 'Sans serif';
    letter-spacing: 0.03em;
  }

  .panel__band {
    margin-left: -84px;
    margin-top: 7px;
  }

  .panel__case {
    padding-left: 49px;
    margin-top: 7px;
  }

  .panel__features {
    margin: 5px 0;
    display: flex;
    align-self: center;

    p {
      padding-right: 170px;
    }

    .s-link {
      font-size: 14px;
      padding-left: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .panel__case,
  .panel__features {
    letter-spacing: 0.001em;
  }

  @media screen and (max-width: 1394px) {

    .panel__icons {
      margin-left: 0;
    }

    .panel__color {

      p {
        margin-left: 0;
      }
    }

    .panel__band {
      margin-left: -15px;
      margin-top: 13px;
    }

    .panel__features {

      p {
        padding-right: 13px;
      }
    }
  }

  @include breakpoint (tablet) {

    .panel__icons {
      margin-left: 0;

      img {
        padding-right: 9px;
      }
    }

    .panel__color {

      p {
        margin-left: 0;
      }
    }

    .panel__band {
      margin-left: 5px;
      margin-top: 11px;
    }

    .panel__case {
      padding-left: 0;
    }

    .panel__features {
      margin-top: 10px;

      p {
        padding-right: 29px;
      }
    }
  }
}

.search__select__box {
  background-color: $grey;

  .wrapper__search__select {
    padding: 0px 253px 0px 257px;
  }

  .search__select__item {
    padding-top: 32px;
    width: 100%;
    position: relative;

    .search__select__input {
      width: 94%;
      padding: 10px 44px;
      border: 1px solid $light-brown;
      color: $header-brown;
      margin-bottom: 20px;

      &::placeholder {
        color: $light-brown;
      }
    }

    .s-search {
      position: absolute;
      left: 19px;
      top: 45px;
    }
  }

  @media screen and (max-width: 1394px) {

    .wrapper__search__select {
      padding: 0px 100px;
    }
  }

  @include breakpoint (tablet) {

    .wrapper__search__select {
      padding: 0 22px;
    }

    .search__select__item {

      .search__select__input {
        padding: 10px 0 11px 43px;
      }
    }
  }
}

.listing {
  border-bottom: 5px solid $blue;
  padding-bottom: 61px;
  position: relative;

  .listing__cart {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 417px;
    background-color: $white;
    border: 1px solid $footer-border;
    z-index: 5;
  }

  .listing__cart--visible {
    display: block;
  }

  .listing__cart__box {
    overflow-y: scroll;
  }

  .item {

    display: flex;
    align-items: center;

    .s-close {
      cursor: pointer;
    }
  }

  .item__id {
    display: none;
  }

  .item__qty__inc,
  .item__qty__dec {
    cursor: pointer;
  }

  .listing__cart__title {
    font-family: 'Lato', 'Sans serif';
    font-size: 20px;
  }

  .checkout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Lato', 'Sans serif';
  }
}

.listing__wrapper {
  padding: 0 207px 0 273px;

  @media screen and (max-width: 1844px) {

    padding: 0 120;
  }

  @media screen and (max-width: 1394px) {
    padding: 0px 100px;
  }

  @include breakpoint (tablet) {
    padding: 0 22px;
  }
}

.select__box {

  padding-bottom: 30px;
  margin-bottom: 32px;

  .listing__select {
    width: 100%;
    border: 1px solid $light-brown;
    padding: 11px 8px;
  }
}

.wrapper__choices {
  padding: 0px 274px;

  @media screen and (max-width: 1394px) {
    padding: 0px 100px;
  }

  @include breakpoint (tablet) {
    padding: 0px 22px;
  }
}

.choice {
  color: $header-brown;
  position: relative;
  margin-right: 22px;
  border: 1px solid $header-brown;
  padding: 10px 20px;
  border-radius: 22px;
  font-family: 'Lato', 'Sans serif';
  font-size: 17px;
  letter-spacing: 0.06em;
  width: 153px;

  .s-close {
    position: absolute;
    right: 19px;
    padding-left: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1394px) {
    margin-bottom: 12px;
  }

  @include breakpoint (tablet) {
    margin-bottom: 12px;
  }
}

.accordion__col__names {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $footer-border;
  margin-bottom: 2px;
  padding: 41px 0 13px 67px;

  .accordion__name {
    font-family: 'Lato', 'Sans serif';
    font-size: 16px;
    letter-spacing: 0.03em;
  }

  .accordion__name--double {
    display: flex;
    align-items: center;
  }

  .accordion__name__brand {
    padding-left: 47px;
  }

  .accordion__name__item__no {
    margin-left: -67px;
  }

  .accordion__name__listing {
    margin-left: -40px;
  }

  .accordion__name__wholesale {
    text-align: right;
    padding-right: 15px;
  }

  .accordion__name__qty {
    margin-left: 70px;
  }

  @include breakpoint (tablet) {

    padding: 41px 0 13px 30px;

    .accordion__name__brand {
      padding-left: 36px;
    }

    .accordion__name__item__no {
      margin-left: 0px;
    }

    .accordion__name__listing {
      margin-left: 17px;
    }

    .accordion__name__wholesale {
      padding-right: 29px;
    }

    .accordion__name__qty {
      margin-left: -8px;
    }
  }
}
