.footer {
  height: 655px;
  background-color: $grey;
  position: relative;

  .row {
    padding: 105px 0 118px;
  }

  .footer__row__copyright {
    padding: 0;
  }

  .col-4 {
    padding: 0 20px;
  }

  .footer__col__list {
    text-align: center;
    border-right: 1px solid $footer-border;

    a {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: -0.025em;

      &:hover {
        cursor: pointer;
        color: $footer-link;
      }
    }

    li {
      padding-bottom: 1.3em;
      margin-left: -131px;
    }

    .uppercase {
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0.19em;
    }
  }

  .footer__col__title {
    font-size: 28px;
    font-family: $font-butler-bold;
    text-transform: uppercase;
    letter-spacing: 0.34em;
    text-align: center;
  }

  .footer__col__list--second {
    border: none;
  }

  .footer__col__text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.89;
    letter-spacing: -0.02em;
    padding-top: 63px;
    margin-left: -10px;
  }

  @include breakpoint (tablet) {
    height: 555px;

    .row {
      padding: 105px 0 70px;
    }

    .footer__row__copyright {
      padding: 0;
    }

    .col-4 {
      padding: 0 15px;

      &:nth-child(3) {
        border-left: 1px solid $footer-border;
      }
    }

    .footer__col__title {
      font-size: 20px;
      text-align: center;
    }

    .footer__col__text {
      padding-top: 40px;
      margin-left: 0;
      font-size: 15px;
    }

    .footer__col__list {

      li {
        margin-left: 0;
        padding-bottom: 1em;
      }

      .uppercase {
        font-size: 16px;
      }
    }
  }

  @include breakpoint (phone) {
    height: 900px;

    .row {
      padding: 33px 0;
    }

    .footer__row__copyright {
      padding: 0;
    }

    .col-4 {
      padding: 0;
      border-bottom: 1px solid $footer-border;
      margin-bottom: 30px;

      &:last-child {
        border-bottom: none;
      }
    }

    .footer__col__title {
      font-size: 24px;
      text-align: center;
    }

    .footer__col__list {
      border-right: none;

      li {
        margin-left: 0;
        padding-bottom: 1em;
      }
    }

    .footer__col__text {
      margin-left: 0;
      padding-top: 23px;
      line-height: 1.8;
      padding-bottom: 1em;
    }
  }
}

.footer__copyright {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.03em;

  @include breakpoint (phone) {
    background-color: $grey;
  }
}

.footer__copyright__span {
  font-family: 'Open Sans', sans-serif;
}

.footer__col__title--shifted {
  margin-left: -115px;

  @include breakpoint (tablet) {
    margin-left: 0;
  }

  @include breakpoint (phone) {
    margin-left: 0;
  }
}

.footer__col__link--padded {
  padding-top: 48px;

  @include breakpoint (tablet) {
    padding-top: 34px;
  }

  @include breakpoint (phone) {
    padding-top: 30px;
  }
}

.footer__col__title--second {
  margin-left: 9px;

  @include breakpoint (tablet) {
    margin-left: 0;
  }

  @include breakpoint (tablet) {
    margin-left: 0;
  }
}

.footer__border__box {
  margin: 0 auto;
  top: 0;
  width: 207px;
  height: 10px;
  background-color: $footer-border;

  @include breakpoint (tablet) {
    width: 150px;
  }
}

.footer__col__content {
  height: 100%;
  width: 100%;
  text-align: center;
  border-left: 1px solid $footer-border;
  padding-left: 114px;

  .footer__col__title {
    padding-bottom: 116px;
    margin-left: 58px;
  }

  .footer__col__icon {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 0.15em;
    display: flex;
    margin: 0 auto;
    width: 390px;
    height: 75px;
    border: 1px solid $light-grey;
    align-items: center;

    &:hover {
      color: $footer-border;
    }
  }

  .s-envelope {
    padding-right: 95px;
    font-size: 16px;
    padding-left: 20px;
  }

  .s-right-arrow {
    padding-left: 95px;
    font-size: 16px;
    color: $gold;
  }

  @media screen and (max-width: 1494px) {

    padding-left: 48px;
  }

  @media screen and (max-width: 1264px) {

    .footer__col__icon {
      width: 292px;
    }

    .footer__col__title {
      margin-left: 0;
    }

    .s-envelope {
      padding-right: 45px;
    }

    .s-right-arrow {
      padding-left: 45px;
    }
  }

  @include breakpoint (tablet) {

    border: none;
    padding-left: 14px;

    .footer__col__icon {
      width: 215px;
      height: 55px;
    }

    .footer__col__title {
      margin-left: 0;
      padding-bottom: 50px;
    }

    .s-envelope {
      padding-right: 5px;
    }

    .s-right-arrow {
      padding-left: 20px;
    }
  }

  @include breakpoint (phone) {
    border-left: none;
    padding-left: 0;

    .footer__col__title {
      margin-left: 0;
      padding-bottom: 50px;
    }

    .footer__col__icon {
      margin: 0 auto;
    }
  }
}

