//sass-lint:disable-block no-mergeable-selectors

.header {
  background-color: $white;
  width: 100%;
  position: fixed;
  transition: all 0.15s linear;
  z-index: 2;

  .header__wrapper {
    display: flex;
    padding: 0 211px 0 254px;
  }

  ul {
    display: flex;
    justify-items: center;

    li {
      border-right: 1px solid $grey;
      height: 78px;

      &:last-child {
        border-right: none;
      }
    }
  }

  .header__logo {
    padding-top: 20px;
    display: inline-block;
    padding-right: 47px;
  }

  .header__logo__big {
    font-family: $font-butler-bolder;
    font-size: 24px;
    letter-spacing: 0.47em;
    padding-bottom: 3px;
  }

  .header__logo__small {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 0.58em;
  }

  .header__browse {
    padding-left: 35px;
    display: flex;
    align-items: center;
  }

  .header__browse__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    padding-right: 33px;
  }

  .header__info {
    padding-left: 35px;
    padding-right: 328px;
    display: flex;
    align-items: center;
  }

  .header__info__text {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.02em;
    .s-dwon-arrow {
      font-size: 8px;
      padding-left: 7px;
    }
  }

  .header__shop__cart {
    display: flex;
    align-items: center;
    padding: 0 29px 0 33px;
    position: relative;

    .arrow__box {
      display: none;
      top: 86px;
      right: 124px;
      position: absolute;
      background: $white;
      border: 1px solid $footer-link;  /*set border colour here*/
      width: 450px;
      height: 150px;

      .item__added__msg {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid $grey;
        font-family: 'Lato', sans-serif;
        text-align: center;
        width: 100%;
        font-size: 14px;
        padding: 15px 0;

        p {
          letter-spacing: 0.025em;
        }
      }

      .item__img__title {
        display: flex;
        align-items: center;
        padding-top: 30px;

        img {
          height: 40px;
          padding-left: 37px;
        }

        .title {
          padding-left: 23px;
        }

        .title__brand__name {
          font-size: 18px;
          line-height: 22px;
          margin-top: -1px;
        }

        .title__sub__name {
          font-size: 16px;
        }
      }

      .item__added {
        font-family: 'Lato', sans-serif;
        display: flex;
        position: relative;

        .s-close {
          position: absolute;
          display: block;
          right: 20px;
          top: 13px;
        }
      }

      .title__name {
        letter-spacing: 0.07em;
      }

      .item__tag {
        padding-top: 30px;
        padding-left: 52px;
        letter-spacing: -0.05em;
      }
    }

    .arrow__box--visible {
      display: block;
    }

    .arrow__box:after,
    .arrow__box:before {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .arrow__box:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $white;
      border-width: 19px;
      left: 90%;
      margin-left: -19px;
    }

    .arrow__box:before {
      border-bottom-color: $footer-link;
      border-width: 20px;
      left: 90%;
      margin-left: -20px;
    }
  }

  .s-shopping-cart {
    font-size: 18px;
    position: relative;
    padding-right: 43px;

    .item__number {
      background-color: $blue;
      border-radius: 50%;
      padding: 4px 7px;
      font-size: 10px;
      position: absolute;
      left: 10px;
      top: -9px;
    }
  }

  .header__item__total {
    float: right;
    line-height: 18px;
    padding-bottom: 4px;
  }

  .total {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
  }

  .total,
  .header__item__total__price {
    font-family: 'Lato', sans-serif;
  }

  .header__item__total__price {
    font-weight: bold;
    font-size: 18px;
  }

  .header__company {
    display: flex;
    align-items: center;
    padding-left: 32px;

    .s-user {
      font-weight: bold;
      font-size: 25px;
      padding-right: 12px;
    }

    .s-dwon-arrow {
      font-size: 11px;
      padding-left: 14px;
    }

    .header__company__name {
      display: flex;
      align-items: center;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .header__logo__hamburger {
    display: none;
  }

  .s-close {
    display: none;
  }

  @media screen and (max-width: 1694px) {

    position: fixed;
    transition: all 0.15s linear;

    .header__wrapper {
      padding: 0 211px 0 254px;
    }

    .header__info {
      padding-right: 35px;
    }

    .header__logo__hamburger {
      display: none;
    }

    .s-close {
      display: none;
    }

  }

  @media screen and (max-width: 1394px) {
    position: fixed;
    transition: all 0.15s linear;

    .header__wrapper {
      padding: 0 60px;
    }

    .s-close {
      display: block;
      top: 15px;
      font-size: 30px;

      &:hover {
        cursor: pointer;
      }
    }

    .header__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 78px;
    }

    .header__logo {
      padding-top: 0;
    }

    ul {
      display: none;
      position: absolute;
      top: 77px;
      left: 0;
      width: 100%;
      background-color: $white;
      z-index: 5;
      margin: 0 auto;
      text-align: center;
      padding: 0 250px;
      box-shadow: -1px -1px 7px 0px $grey;

      li {
        border-right: none;
      }
    }

    .header__browse {
      padding-left: 0;
    }

    .header__browse__text {
      padding-right: 0;
    }

    .header__logo__hamburger {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }

    .header__info {
      padding-right: 0;
      padding-left: 0;
    }

    .header__company,
    .header__shop__cart,
    .header__info,
    .header__logo__hamburger,
    .header__browse {
      justify-content: center;
      border-bottom: 1px solid $grey;
    }
  }

  @include breakpoint (tablet) {

    position: fixed;
    transition: all 0.15s linear;

    .header__wrapper {
      padding: 0 22px;
    }

    .header__shop__cart {

      .arrow__box {
        right: 0px;
      }

      .arrow__box:before,
      .arrow__box:after {
        left: 56%;
      }
    }
  }

  @include breakpoint (phone) {

    position: fixed;
    transition: all 0.15s linear;

    .header__wrapper {
      padding: 0 20px;
    }

    ul {
      padding: 0;
    }

    .header__company {
      padding-left: 0;
    }
  }
}

.nav__show {
  display: block !important;
}

.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
